<h1>A NodeJS View</h1>
{{!--retourne nous dans notre vue node.hbs l'email--}}
{{email}} 
<form action="/" method="post">
    <input type="email" name="email">
    <button type="submit">Submit</button>
</form>